body {
    font-family: "Inter", sans-serif;
    font-size: 2em;
    font-weight: 400;
}

@media (max-width: 576px) {
    body {
        font-size: 1.5em;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 1.5em;
    }
}

.boredContainer {
    margin: auto;
    padding: 4em 1em;
    max-width: 800px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 47.62%
    );
}

.checked {
    background: linear-gradient(
        180deg,
        rgba(0, 176, 28, 0.2) 24.48%,
        rgba(255, 255, 255, 0) 100%
    );
}

.emotion {
    font-size: 1em;
    font-weight: 700;
}

.suggest {
    height: 2em;
}

.findOutBtn {
    padding: 0 3em;
    font-family: inherit;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #ffffff;
    background-color: #0094ff;
    border: 1px solid #0094ff;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 300px) {
    .findOutBtn {
        padding: 0;
        width: 100%;
    }
}
